astropy==6.0.0
astroquery==0.4.7.dev8479
google_api_python_client==2.86.0
google_auth_oauthlib==1.0.0
matplotlib==3.7.1
numpy==1.24.3
photutils==1.7.0
progressbar33==2.4
protobuf==4.21.12
pyephem==9.99
python_dateutil==2.8.2
pytz==2023.3
Requests==2.31.0
scheduler==0.8.5
scipy==1.12.0
